# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = 'C:\\Users\\LinKevinYA\\ML-100Days\\Part01'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [6]:
for col in app_train:
    print(col)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [7]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
app_train['DAYS_EMPLOYED_ANOM']=app_train['DAYS_EMPLOYED']== 365243
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_ANOM
0,100002,1,0,M,0,1,0,202500.000,406597.5,24700.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
1,100003,0,0,F,0,0,0,270000.000,1293502.5,35698.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,100004,0,1,M,1,1,0,67500.000,135000.0,6750.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,100006,0,0,F,0,1,0,135000.000,312682.5,29686.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
4,100007,0,0,M,0,1,0,121500.000,513000.0,21865.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
5,100008,0,0,M,0,1,0,99000.000,490495.5,27517.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,False
6,100009,0,0,F,1,1,1,171000.000,1560726.0,41301.0,...,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0,False
7,100010,0,0,M,1,1,0,360000.000,1530000.0,42075.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
8,100011,0,0,F,0,1,0,112500.000,1019610.0,33826.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,True
9,100012,0,1,M,0,1,0,135000.000,405000.0,20250.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
10,100014,0,0,F,0,1,1,112500.000,652500.0,21177.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,False
11,100015,0,0,F,0,1,0,38419.155,148365.0,10678.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,True
12,100016,0,0,F,0,1,0,67500.000,80865.0,5881.5,...,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,False
13,100017,0,0,M,1,0,1,225000.000,918468.0,28966.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
14,100018,0,0,F,0,1,0,189000.000,773680.5,32778.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
15,100019,0,0,M,1,1,0,157500.000,299772.0,20160.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
16,100020,0,0,M,0,0,0,108000.000,509602.5,26149.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,False
17,100021,0,1,F,0,1,1,81000.000,270000.0,13500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
18,100022,0,1,F,0,1,0,112500.000,157500.0,7875.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
19,100023,0,0,F,0,1,1,90000.000,544491.0,17563.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
20,100024,0,1,M,1,1,0,135000.000,427500.0,21375.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
21,100025,0,0,F,1,1,1,202500.000,1132573.5,37561.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
22,100026,0,0,F,0,0,1,450000.000,497520.0,32521.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,False
23,100027,0,0,F,0,1,0,83250.000,239850.0,23850.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,True
24,100029,0,0,M,1,0,2,135000.000,247500.0,12703.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
25,100030,0,0,F,0,1,0,90000.000,225000.0,11074.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
26,100031,1,0,F,0,1,0,112500.000,979992.0,27076.5,...,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0,False
27,100032,0,0,M,0,1,1,112500.000,327024.0,23827.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
28,100033,0,0,M,1,1,0,270000.000,790830.0,57676.5,...,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,False
29,100034,0,1,M,0,1,0,90000.000,180000.0,9000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,M,0,1,0,225000.000,297000.0,19975.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
307482,456226,0,0,F,1,1,0,225000.000,500566.5,34969.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
307483,456227,0,0,F,0,1,0,99000.000,247275.0,16479.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0,True
307484,456228,0,0,F,1,0,0,540000.000,545040.0,35617.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
307485,456229,0,1,F,0,1,1,270000.000,180000.0,9000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
307486,456230,0,0,F,1,1,1,292500.000,355536.0,18283.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,False
307487,456231,0,0,M,0,1,0,117000.000,1071909.0,31473.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0,True
307488,456232,0,0,F,0,0,0,157500.000,135000.0,13351.5,...,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0,False
307489,456233,1,0,F,0,1,0,225000.000,521280.0,23089.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0,False
307490,456234,0,0,M,0,1,0,81000.000,135000.0,9148.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
307491,456235,0,0,M,1,1,2,90000.000,1078200.0,31522.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0,False
307492,456236,0,0,M,1,1,0,585000.000,1575000.0,43443.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
307493,456237,0,0,F,0,1,0,135000.000,946764.0,37678.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0,False
307494,456238,0,0,M,1,0,1,270000.000,479700.0,46858.5,...,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0,False
307495,456239,0,0,M,1,0,0,180000.000,808650.0,23773.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
307496,456240,0,1,F,0,0,0,360000.000,337500.0,16875.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
307497,456241,0,0,F,1,1,0,180000.000,270126.0,12028.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0,False
307498,456242,0,0,M,1,1,0,198000.000,1312110.0,52168.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
307499,456243,0,0,F,0,1,0,81000.000,225000.0,12694.5,...,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0,False
307500,456244,0,0,F,0,1,0,261000.000,1303812.0,35982.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0,False
307501,456245,0,0,F,0,1,3,81000.000,269550.0,11871.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
307502,456246,0,0,F,0,1,1,94500.000,225000.0,10620.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,False
307503,456247,0,0,F,0,1,0,112500.000,345510.0,17770.5,...,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0,False
307504,456248,0,0,F,0,1,0,153000.000,331920.0,16096.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
307505,456249,0,0,F,0,1,0,112500.000,225000.0,22050.0,...,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0,True
307506,456251,0,0,M,0,0,0,157500.000,254700.0,27558.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
307507,456252,0,0,F,0,1,0,72000.000,269550.0,12001.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,True
307508,456253,0,0,F,0,1,0,153000.000,677664.0,29979.0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0,False
307509,456254,1,0,F,0,1,0,171000.000,370107.0,20205.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
307510,456255,0,0,F,0,0,0,157500.000,675000.0,49117.5,...,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,False

In [13]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [22]:
app_train['DAYS_EMPLOYED']=app_train['DAYS_EMPLOYED']*365
app_train['DAYS_EMPLOYED']

0          1.745205
1          3.254795
2          0.616438
3          8.326027
4          8.323288
5          4.350685
6          8.575342
7          1.230137
8               NaN
9          5.531507
10         1.860274
11              NaN
12         7.443836
13         8.295890
14         0.556164
15         3.169863
16         3.608219
17         0.523288
18        21.380822
19         5.583562
20        11.742466
21         4.526027
22        11.797260
23              NaN
24         2.043836
25         9.572603
26         7.200000
27         3.380822
28         4.920548
29         2.767123
            ...
307481     8.621918
307482     0.619178
307483          NaN
307484     0.898630
307485     1.835616
307486     3.246575
307487          NaN
307488     3.336986
307489     0.783562
307490     5.282192
307491     5.350685
307492     4.432877
307493     6.317808
307494    18.008219
307495    20.378082
307496     5.967123
307497     3.347945
307498    10.106849
307499    23.819178
307500    14.591781
307501     2.865753
307502    23.934247
307503     1.093151
307504    19.884932
307505          NaN
307506     0.646575
307507          NaN
307508    21.701370
307509    13.112329
307510     3.457534
Name: DAYS_EMPLOYED, Length: 307511, dtype: float64

In [32]:
app_train['DAYS_EMPLOYED']=abs(app_train['DAYS_EMPLOYED'])
sub_set_df=app_train[['TARGET','DAYS_EMPLOYED']]
bins=[1,20,40,60,100]
sub_set_df['categ']=pd.cut(sub_set_df['DAYS_EMPLOYED'],bins)
sub_set_df.groupby(['categ'])['TARGET'].sum()

D:\Anaconda3\envs\Python\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

categ
(1, 20]      18239
(20, 40]       525
(40, 60]         1
(60, 100]        0
Name: TARGET, dtype: int64